@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Signal Design Tracking Application</h1>
    <p>
        This application was designed to track projects at various stages of approval.
    </p>
</div>






