@using SDTracker.Common;

@{
    ViewBag.Title = "TempErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TempErrorPage</h2>

@if (SDTRoleProvider.UserIsInRole(ViewContext, "Admin"))
{
    <h2>Admin</h2>
}
else
{ <h2 style="color:red">Admin</h2> }


@if (SDTRoleProvider.UserIsInRole(ViewContext, "Design Engineer"))
{
    <h2>Design Engineer</h2>
}
else
{ <h2 style="color:red">Design Engineer</h2> }

@if (SDTRoleProvider.UserIsInRole(ViewContext, "Guest"))
{
    <h2>Guest</h2>
}
else
{ <h2 style="color:red">Guest</h2> }


@if (SDTRoleProvider.UserIsInRole(ViewContext, "Head Engineer,Design Engineer"))
{
    <h2>Head Engineer</h2>
}
else
{ <h2 style="color:red">Head Engineer</h2> }