@using SDTracker.Common;

@if (Request.IsAuthenticated)
{
    <a href="~/User/Logout" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User Profile<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        
        <li>@Html.ActionLink("Edit Profile", "EditProfile", "User")</li>
        <li>@Html.ActionLink("Change Password", "ChangePassword", "User")</li>
        <li>@Html.ActionLink("Logout", "Logout", "User")</li>

    </ul>
    
    
}
